// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.navRow {
  background-color: #005689;
  img {
    -webkit-filter: invert(100%);
    border-radius: 50% 50% 0.5px;
    border: 40px 40px;
  }
}
